.chat__dot_1 {
  animation: bounce2 1.5s infinite linear;
}

.chat__dot_2 {
  animation: bounce2 1.5s infinite linear;
  animation-delay: 0.5s;
}

.chat__dot_3 {
  animation: bounce2 1.5s infinite linear;
  animation-delay: 1s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-3px);
  }
}

@keyframes bounce2 {
  0% {
    transform: translateY(0px);
  }
  66.66% {
    transform: translateY(0px);
  }
  73.33% {
    transform: translateY(-2px);
  }
  83.33% {
    transform: translateY(-3px);
  }
  93.33% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0px);
  }
}
