@import "tailwindcss";
@plugin "@tailwindcss/typography";

@tailwind utilities;

:root {
  position: relative;
}

.body {
  font-family: var(--font-roboto);
}

@layer base {
  .light {
    --color-base-primary-color: #ededed;
    --color-base-secondary-color: #f6f6f6;
    --color-base-tertiary-color: #d6d6d6;
    --color-text-primary-color: #383838;
    --color-text-secondary-color: #818181;
    --color-text-tertiary-color: #ffffff;
  }

  .dark {
    --color-base-primary-color: #0d0d12;
    --color-base-secondary-color: #111422;
    --color-base-tertiary-color: #2d334b;
    --color-text-primary-color: #ffffff;
    --color-text-secondary-color: #adadad;
    --color-text-tertiary-color: #000000;
  }
}

@theme inline {
  --color-base-primary: var(--color-base-primary-color);
  --color-base-secondary: var(--color-base-secondary-color);
  --color-base-tertiary: var(--color-base-tertiary-color);
  --color-text-primary: var(--color-text-primary-color);
  --color-text-secondary: var(--color-text-secondary-color);
  --color-text-tertiary: var(--color-text-tertiary-color);

  --font-roboto: var(--font-roboto);
}

@theme {
  --color-link-color: #5ca3ff;
  --color-purple-accent-color: #cc80ff;
  --color-orange-accent-color: #ffb682;

  --animate-delayed-bounce: bounce 1.5s infinite;

  @keyframes bounce {
    0%,
    33.33%,
    100% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
    16.66% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }

  --animate-error: error 1.5s infinite linear;

  @keyframes error {
    0% {
      color: #ff5555;
      transform: translate(2px, -2px);
    }
    5% {
      transform: translate(1px, -2px);
    }
    10% {
      transform: translate(1px, 0px);
    }
    15% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(1px, 2px);
    }
    25% {
      transform: translate(0.9px, -1.8px);
    }
    30% {
      transform: translate(-0.8px, 1.6px);
    }
    35% {
      transform: translate(0.7px, -1.4px);
    }
    40% {
      transform: translate(0.6px, -0.6px);
    }
    45% {
      transform: translate(0px, 0.5px);
    }
    50% {
      transform: translate(-0.4px, 0px);
    }
    100% {
      color: var(--color-text-secondary-color);
      transform: translate(0, 0);
    }
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    background-color: var(--color-base-primary-color);
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    margin-block: 4px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-base-tertiary-color);
    border-radius: calc(infinity * 1px);
  }
}
