@import "./vendor/fonts.css";
@import "tailwindcss";

@theme {
  --color-dark-primary-background: #111422;
  --color-dark-secondary-background: #0d0d12;
  --color-dark-tertiary-background: #2d334b;
  --color-dark-primary-text: #ffffff;
  --color-dark-secondary-text: #adadad;
}

.font-roboto {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root {
  position: relative;
  background-color: var(--color-dark-primary-background);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-dark-primary-text);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
